@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*:root {
    --tw-backdrop-blur: blur(4px);
}

*, *::before, *::after {
    box-sizing: border-box;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    line-height: inherit;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /*background: #f3f3f3;*/
}


div[data-overlay-container] {
    height: 100%;
}


.react-multi-carousel-list {
    overflow-x: hidden !important;
    overflow-y: unset !important;
    display: none !important;
}

.cart-item:before {
    content: "1";
    display: block;
    line-height: 24px;
    height: 24px;
    width: 24px;
    font-size: 12px;
    font-weight: 600;
    background: #2bd156;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.cart-item {
    position: absolute;
    height: 24px;
    width: 24px;
    top: -10px;
    right: -10px;
}

.sendtocart .cart-item {
    display: block;
    animation: xAxis 1s forwards cubic-bezier(1, 0.44, 0.84, 0.165);
}
.sendtocart .cart-item:before {
    animation: yAxis 1s alternate forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cart.shake {
    animation: shakeCart 0.4s ease-in-out forwards;
}

@keyframes xAxis {
    100% {
        transform: translateX(calc(50vw - 105px));
    }
}
@keyframes yAxis {
    100% {
        transform: translateY(calc(-50vh + 75px));
    }
}
@keyframes shakeCart {
    25% {
        transform: translateX(6px);
    }
    50% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 460px) {
    .react-multi-carousel-list {
        display: flex !important;
    }
}

@keyframes checkbox-check{
    0%{
        width: 0;
        height: 0;
        border-color: #212121;
        transform: translate3d(0,0,0) rotate(45deg);
    }
    33%{
        width: .2em;
        height: 0;
        transform: translate3d(0,0,0) rotate(45deg);
    }
    100%{
        width: .2em;
        height: .5em;
        border-color: #212121;
        transform: translate3d(0,-.5em,0) rotate(45deg);
    }
}


.bg-background-main {
    background-color: #3A4664;
}

.bg-navbar {
    background-color: #6779A7;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
  